<section class="container">
  <header class="header">
    <h1>Lista de Tarefas</h1>
  </header>
  <section>
    <form>
      <div class="form-group">
        <input
          class="form-control new-todo"
          placeholder="Adicionar Tarefa"
          autofocus=""
          [(ngModel)]="newTodo.title"
          name="newTodo"
          (keyup.enter)="addTodo()">
      </div>
    </form>
  </section>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view d-flex">
          <label class="toggle p-2">
            <input type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
            <span class="oi oi-check" title="person" aria-hidden="true"></span>
          </label>
          <label class="p-2">{{todo.title}}</label>
          <button class="ml-auto p-2 destroy btn btn-danger btn-sm" (click)="removeTodo(todo)">Excluir</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'tarefa' : 'tarefas'}} na lista</span>
  </footer>
</section>
