ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding: 10px 0;
    border-top: 1px solid #f2f2f2;

    label {
      text-transform: capitalize;
    }

    input[type=checkbox] {
      vertical-align: middle;
    }

    span {
      display: none;
    }

    &.completed {
      color: green;

      .view {
        span {
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }
}
